@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Inter', sans-serif;
}

.alert:empty {
    display: none;
}

[x-cloak] { display: none !important; }
